* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* border:  1px solid red; */
}

li {
    list-style: none;
}

:root {
    --error:hsl(4, 100%, 67%);
    --error-bg:#FEE9E5FF;
    --white-color: hsl(0, 0%, 100%);
    --bg-color: #36384DFF;
    --input-border: hsl(231, 7%, 60%);
    --submit-bg:#232741FF;
    --submit-hover:linear-gradient(to right, #FF5478FF, #FC683EFF)
}

body {
    background-color: var(--bg-color);

}

.container {
    width: 930px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 24px;
    padding-left: 64px;
    border-radius: 25px;
    background-color: var(--white-color);
}

.left {
    width: 55%;
}

.left h1 {
    font-size: 57px;
    margin-top: 75px;
    margin-bottom: 15px;
    display: inline-block;
}

.left .title {
    margin-bottom: 30px;
    width: 400px;
}

ul {
    margin-bottom: 40px;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

li img {
    margin-right: 20px;
}

.form-div{
    width: 375px;   
    display: flex;
    justify-content: space-between;
}

label {
    display: inline-block;
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 10px;
}

span{
    display: none;
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 10px;
    color: var(--error);
}

.email {
    cursor: pointer;
    padding-left: 24px;
    outline: none;
    width: 375px;
    height: 56px;
    font-size: 1.1rem;
    border: 1px solid var(--input-border);
    border-radius: 10px;
    margin-bottom: 25px;
}

.submit{
    cursor: pointer;
    width: 375px;
    height: 56px;
    border-radius: 10px;
    color: var(--white-color);
    outline: none;
    border: transparent;
    background-color: var(--submit-bg);
    font-size: 1rem;
    margin-bottom: 75px;
}

.submit:hover{
    background-image: var(--submit-hover);
}
.right {
    width: 45%;
    overflow: hidden;
    border-radius: 15px;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
}

.thanks{
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 34px;
    background-color: var(--white-color);
    display: none;
}

.thanks h1{
    font-size: 56px;
    margin-top: 14px;
    color: var(--submit-bg);
    line-height: 60px;
    margin-bottom: 25px;
}

.thanks p{
    color: var(--submit-bg);
    width: 376px;    
}

button{
    cursor: pointer;
    width: 375px;
    height: 56px;
    border-radius: 10px;
    color: var(--white-color);
    outline: none;
    border: transparent;
    background-color: var(--submit-bg);
    font-size: 1rem;
    margin-top: 25px;
}

button:hover{
    background-image: var(--submit-hover);
}

@media screen and (max-width: 950px) and (min-width:376px) {
    body{
        display: flex;
        justify-content: center;
    }
    .container{
        flex-direction: column-reverse;
        padding: 30px;
        padding-left: 30px;
        width: 450px;
        position: static;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        margin-top: 40px;
    }

    .left{
        width: 100%;
    }

    .left h1{
        font-size: 39px;
        margin-top: 33px;
        margin-bottom: 19px;
    }

    .left .title{
        width: 100%;
        margin-bottom: 15px;
    }

    ul{
        margin-bottom: 20px;
    }

    .form-div{
        width: 100%;
    }

    input{
        width: 100% !important;
    }

    .submit{
        margin-bottom: 0px;
    }
    
    .right{
        width: 100%;
        height: 200px;
        background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    }
}

@media screen and (max-width: 376px) {
    body{
        display: flex;
        justify-content: center;
    }
    .container{
        flex-direction: column-reverse;
        padding: 0px;
        width: 450px;
        position: static;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        border-radius: 0px;
    }

    .left{
        width: 100%;
        padding: 30px;
    }

    .left h1{
        font-size: 39px;
        margin-top: 15px;
        margin-bottom: 19px;
    }

    .left .title{
        width: 100%;
        margin-bottom: 15px;
    }

    ul{
        margin-bottom: 20px;
    }

    .form-div{
        width: 100%;
    }

    input{
        width: 100% !important;
    }

    .submit{
        margin-bottom: 0px;
    }

    .thanks{
        width: 100%;
        height: 100vh;
        position: static;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        border-radius: 0px;
        padding: 24px;
    }

    .thanks p{
        width: 100%;
    }

    button{
        width: 100%;
    }
    
    .right{
        width: 100%;
        height: 200px;
        border-radius: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    }
}